{{#if message}}
    <div>{{message}}</div>
{{/if}}

<p>
ID: {{ user.id }}<br/>
Email: {{ user.username }}<br/>
First Name: {{ user.firstname }}<br/>
Last Name: {{ user.lastname }}<br/>
</p>
<a href="/logout">Log out</a>