{{#if message}}
    <div>{{message}}</div>
{{/if}}

<p>
ID: {{ user.id }}<br/>
Email: {{ user.email }}<br/>
Username: {{ user.username }}<br/>
First Name: {{ user.firstname }}<br/>
Last Name: {{ user.lastname }}<br/>
Account Type: {{ user.account_type }}<br/>
Department: {{ user.dept_id }}<br/>
</p>
<a href="/logout">Log out</a>